<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book1.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book2.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book3.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book4.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book5.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book6.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book7.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book1.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Карточка -->
<div class="col-lg-3 col-sm-6 ">
    <div class="product text-center">
        <img class="card-img-top" alt="book" src="/img/books/book5.jpg">
        <div class="card-body">
            Автор <p class="card-title">Название книги</p>
            <h5 class="p-price">345 руб.</h5>
            <div style="flex-wrap: wrap;">
                <button class="buy-btn">В корзину</button>
                <button class="read-btn">Подробней</button>
            </div>
        </div>
    </div>
</div>

<!-- Страницы перехода по книгам -->

<div class="page-block">
    <div class="btn-books-page">
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
    </div>
</div>