/* Основной контент */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Стиль горизонтальной линии */

hr.my-line {
    opacity: 1;
    width: 30px;
    height: 3px;
    color: rgb(255, 142, 101);
    border-radius: 20%;
}

/* Стили секции новости */

#home {
    background-image: url("../img/background.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#text {
    font-family: 'Conv_Montserrat-Bold';
}

#text span {
    color: coral;
}

.block-news {
    padding-left: 80px;
}

/* Стили заголовка блока с карточками книг */

#featured h3 {
    font-family: 'Conv_Montserrat-Bold';
}

/* Сайдбар категорий */

.side-content {
    margin: 20px;
}

.sidebar-title {
    padding-top: 20px;
    font-family: 'Conv_Montserrat-Bold';
    font-size: 20px;
}

.text-category {
    font-family: 'Conv_Montserrat-Medium';
}

li.nav-link.active.category {
    cursor: pointer;
    background-color: rgb(253, 115, 64);
    text-decoration: none;
    color: white;
}

li.nav-link.active.category a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

li.nav-link.active.category:hover{
    cursor: pointer;
    background-color: rgb(255, 135, 92);
    color: black;
    text-decoration: none;
}

.nav-link.link-dark a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-link.link-dark:hover {
    cursor: pointer;
    background-color: rgb(255, 181, 154);
}

/* Стили карточек с книгами */

.block-books{
    padding-bottom: 100px;
}

.card-title {
    font-family: 'Conv_Montserrat-Bold';
}

.p-price {
    font-size: 16px;
    font-family: 'Conv_Montserrat-Bold';
    color: rgb(233, 116, 73);
}

.buy-btn {
    font-weight: 900;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    padding: 4px 20px;
    margin: 5px;
    border: 2px solid coral;
    color: black;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}

.buy-btn:hover {
    background-color: coral;
    color: white;
}

.read-btn {
    font-weight: 900;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    padding: 4px 20px;
    margin: 5px;
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: #f8f8f8;
    transition: .2s ease-in-out;
}

.read-btn:hover {
    background-color: #000000;
    color: white;
}

.product {
    cursor: pointer;
}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

.product .read-btn {
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .read-btn {
    transform: translateY(0);
    opacity: 1;
}

.product-cate img {
    width: 100%;
}

/* Стили страниц (переход по карточкам) */

.page-block{
    padding: 30px 0px 10px 30px;
}

.btn-books-page {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 10px 60px 0px;
    border: 2px solid rgb(252, 107, 55);
    background: white;
    border-radius: 8px;
    color: #000000;
    transition: .2s ease-in-out;
}

.btn-books-page:hover {
    cursor: pointer;
    background: coral;
    color: #fff;
}

.btn-books-page-active {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 10px 60px 0px;
    border: 2px solid rgb(233, 91, 39);
    background: rgb(233, 91, 39);
    border-radius: 8px;
    color: white;
    transition: .2s ease-in-out;
}

.btn-books-page-active:hover {
    cursor: pointer;
    background: coral;
    border: 2px solid coral;
    color: #fff;
}

/* Стиль карусели с картинками */

.carousel {
    margin-bottom: 10rem;
}

.carousel-item {
    height: 40rem;
    color: white;
    background-color: black;
    position: relative;
}

.carousel-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    min-width: 100%;
    height: 40rem;
    opacity: 0.4;
}

.my-carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.btn-carousel {
    font-family: 'Conv_Montserrat-Bold';
    text-decoration: none;
    outline: none;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid rgb(255, 119, 69);
    background-color: rgb(255, 119, 69);
    transition: .2s ease-in-out;
}

.btn-carousel:hover {
    background-color: coral;
    color: white;
}