@model Order

    <link rel="stylesheet" href="~/css/checkout.css">

    <!-- Страница заказа книг -->
    <main>

        <div class="container main-form">

            <!-- Заголовок блока форм -->
            <div class="py-4 mb-4 text-center">
                <h2>Заказ</h2>
                <p class="lead">Заполните все поля, чтобы мы могли отправить Вам книгу.</p>
            </div>

            <!-- Блок формы с полями для заполнения -->
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <form class="needs-validation" asp-action="Checkout" method="post" novalidate>

                        <!-- Строка 1 -->
                        <div class="row justify-content-md-center mb-4">
                            <div class="col-md-6">
                                <!-- Имя -->
                                <label for="FirstName" class="form-label">Имя</label>
                                <input class="form-control" asp-for="Name" type="text" id="FirstName" placeholder="Иван" required>
                                <div class="invalid-feedback">Пожалуйста, укажите свое имя</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                            <!-- Фамилия -->
                            <div class="col-md-6">
                                <label for="LastName" class="form-label">Фамилия</label>
                                <input class="form-control" asp-for="LastName" type="text" id="LastName" placeholder="Иванов" required>
                                <div class="invalid-feedback">Пожалуйста, укажите свою фамилию</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                        </div>

                        <!-- Строка 2 -->
                        <div class="row justify-content-md-center mb-4">
                            <div>
                                <!-- Email -->
                                <label for="Email" class="form-label">Email</label>
                                <input class="form-control" asp-for="Email" type="email" id="Email" placeholder="you@example.com"
                                       required>
                                <div class="invalid-feedback">Пожалуйста, укажите действительный почтовый ящик</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                        </div>

                        <!-- Строка 3 -->
                        <div class="row justify-content-md-center mb-4">
                            <div>
                                <!-- Адрес -->
                                <label for="Address" class="form-label">Адрес</label>
                                <input class="form-control" asp-for="Address" type="text" id="Address"
                                       placeholder="Ивановская 2/9, кор. 6" required>
                                <div class="invalid-feedback">Пожалуйста, введите точный адрес</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                        </div>

                        <!-- Строка 4 -->
                        <div class="row mb-4">
                            <div class="col-md-5">
                                <!-- Страна -->
                                <label for="Country" class="form-label">Страна</label>
                                <select class="form-select" asp-for="Country" id="Country" required>
                                    <option selected disabled value="">Выберите...</option>
                                    <option>Россия</option>
                                    <option>Украина</option>
                                    <option>Казахстан</option>
                                </select>
                                <div class="invalid-feedback">Пожалуйста, выберите страну</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                            <div class="col-md-5">
                                <!-- Почтовый индекс -->
                                <label for="Zip" class="form-label">Почтовый индекс</label>
                                <input class="form-control" asp-for="Postcode" type="text" id="Zip"
                                       placeholder="374682" required>
                                <div class="invalid-feedback">Пожалуйста, укажите ваш почтовый индекс</div>
                                <div class="valid-feedback">Ок!</div>
                            </div>
                        </div>

                        <!-- Горизонтальная линия -->
                        <hr class="my-5">

                        <!-- Кнопка продолжить покупки -->
                        <div class="row mb-5 text-center">
                            <div>
                                <button class="order-btn" type="submit">Отправить данные</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </main>

    <script>
            // Пример стартового JavaScript для отключения отправки форм при наличии недопустимых полей
            (function () {
                'use strict'

                // Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
                var forms = document.querySelectorAll('.needs-validation')

                // Зацикливайтесь на них и предотвращайте отправку
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
    </script>