<link rel="stylesheet" href="~/css/thanks.css">

<!-- Основной контент -->
<main>
    <div class="container main-form">
        <div class="main-block">
            <!-- Заголовок -->
            <div class="py-4 mb-4 text-center">
                <h3 class="mb-5">Спасибо за Ваш заказ!</h3>
                <p class="lead">Ваши книги будут доставлены Вам в кратчайшие сроки.</p>
                <p class="lead">Приятного чтения. Приходите к нам снова!</p>
            </div>

            <!-- Кнопка продолжить покупки -->
            <div class="row mb-5 justify-content-md-center">
                <div class="col-md-5 text-center">
                    <form action="/">
                        <button class="back-btn" type="submit">Продолжить покупки</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>