@{
    Layout = "_AdminLayout";
}


<link rel="stylesheet" href="~/css/admin/admin_main.css">

<!-- Статус сервера -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h3>Сервер</h3>
    </div>

    <div>
        <p><span class="text-second">Статус:</span><span class="text-active">Активен</span></p>
        <p><span class="text-second">Хостинг-план:</span><span>Бесплатный</span></p>
        <p><span class="text-second">Версия ASP.NET:</span><span>ASP.NET Core 3.1</span></p>
    </div>
</main>